  
  <div id="column-right">
    <div class="box">
      <div class="box-heading">Categories</div>
      <div class="box-content">
        <ul>
          <li><a href="#">Lorem</a></li>
          <li><a href="#">Ipsum</a></li>
          <li><a href="#">Dolor Sit</a></li>
          <li><a href="#">Amet Lorem</a></li>
          <li><a href="#">Ipsum Dolor</a></li>
          <li class="last-item"><a href="#">Sit Amet</a></li>
        </ul>
      </div>
    </div>
    <div class="box">
      <div class="box-heading">Archive</div>
      <div class="box-content archive">
        <ul>
          <li> <a href="blog.html">September <span>(5)</span> </a> </li>
          <li> <a href="blog.html">August <span>(14)</span> </a> </li>
          <li> <a href="blog.html">July <span>(22)</span> </a> </li>
          <li> <a href="blog.html">June <span>(9)</span> </a> </li>
          <li> <a href="blog.html">May <span>(15)</span> </a> </li>
          <li class="last-item"> <a href="blog.html">April <span>(10)</span> </a> </li>
        </ul>
      </div>
    </div>
    <div class="box">
      <div>
        <h1 class="title_module"><span>Popular</span></h1>
        <div class="box-content popular">
          <div class="box-product"> <a class="image" href="product.html" title="View more"> <img src="image/ex/pro-1.png" alt=""> </a>
            <h3 class="name"><a href="product.html" title="">Lorem ipsum dolor</a></h3>
            <p class="wrap_price"> <span>10th january 2013</span> </p>
          </div>
          <div class="box-product"> <a class="image" href="product.html" title="View more"> <img src="image/ex/pro-2.png" alt=""> </a>
            <h3 class="name"><a href="product.html" title="">Ipsum dolor sit</a></h3>
            <p class="wrap_price"> <span>12th january 2013</span> </p>
          </div>
          <div class="box-product"> <a class="image" href="product.html" title="View more"> <img src="image/ex/pro-3.png" alt=""> </a>
            <h3 class="name"><a href="product.html" title="">Dolor sit</a></h3>
            <p class="wrap_price"> <span>20th january 2013</span> </p>
          </div>
          <div class="box-product last-item"> <a class="image" href="product.html" title="View more"> <img src="image/ex/pro-4.png" alt=""> </a>
            <h3 class="name"><a href="product.html" title="">Lorem ipsum</a></h3>
            <p class="wrap_price"> <span>10th february 2013</span> </p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>