<div id="slide-wrapper">
      <ul id="slider">
        <li>
          <div class="border_on_img"></div>
          <div class="content_slider">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
          </div>
          <img src="image/ex/s1.jpg" alt="Lorem ipsum dolor sit amet, consectetuer adipiscing elit."> </li>
        <li>
          <div class="border_on_img"></div>
          <div class="content_slider">
            <p>sed diam nonummy</p>
          </div>
          <img src="image/ex/s2.jpg" alt="sed diam nonummy"></li>
        <li>
          <div class="border_on_img"></div>
          <div class="content_slider">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
          </div>
          <img src="image/ex/s3.jpg" alt="Lorem ipsum dolor sit amet, consectetuer adipiscing elit."> </li>
      </ul>
    </div>