<div class="box">
      <div>
      
        <div class="box-content">
         	<%= @text_home.where(name: "Текст на главной странице").first.value.html_safe  %>
        </div>
      </div>
    </div>