
			<div class="page_content_offset">
				<div class="container">
					<div class="row clearfix">
					<%= render('post_categories/blocks/articles_list') %>
					<%= render('post_categories/blocks/sidebar') %>
					</div>
				</div>
			</div>