<div id="footer">
  <div id="footer_top">
    <div class="footer_wrapper">
      <div id="footer_top_content">
        <div id="footer_top_item">
          <div class="footer_top_item" id="about_us">
            <h3 class="title_item_1 down"><a href="about.html">О компании</a></h3>
            <p class="text_item content_item_1 about"> Здесь о компании </p>
          </div>
          <div class="footer_top_item" id="contact_us">
            <h3 class="title_item_2 down"><a href="contact.html">Контакты</a></h3>
            <div class="text_item">
              <p>Здесь контакты</p>
              <p class="online_contact">  <span class="phone">012 - 345 67 89</span><span class="mail"><a class="color" href="mailto:contact@thingsforcuties.doe" title="Mail">contact@thingsforcuties.doe</a></span> </p>
            </div>
          </div>

          <div class="footer_top_item" id="contact_us">
            <h3 class="title_item_2 down"><a href="contact.html">График работы</a></h3>
            <div class="text_item">
              <p>пн-пт: 08:00 - 16:00 </p>
              <p>cб: 10:00 - 15:00 </p>
              <p>вс: выходной </p>
            </div>
          </div>

          <div class="footer_top_item last_footer_item" id="facebook">
            <h3 class="title_item_4 down"><a href="https://www.facebook.com/mouseevent.berlin.brandenburg">Мы Вконтакте</a></h3>
            <div class="text_item content_item_4"> 
              <div id="fb-root"></div>
			  <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1&appId=371189259657718";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>            
            <div class="fb-like-box" data-href="https://www.facebook.com/mouseevent.berlin.brandenburg" data-width="220" data-height="250" data-show-faces="true" data-stream="false" data-show-border="false" data-header="false"></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_wrapper">
  </div>
  <div id="footer-text">
    <p>Things for Cuties © 2013 - Template by <a href="http://themeforest.net/user/ssievert?ref=ssievert">ssievert</a></p>
  </div>
</div>