<div id="footer">
  <div id="footer_top">
    <div class="footer_wrapper">
      <div id="footer_top_content">
        <div id="footer_top_item">
          <div class="footer_top_item" id="about_us">
            <h3 class="title_item_1 down"><a href="about.html">О компании</a></h3>
            <p class="text_item content_item_1 about"><%= @footer_content.where(name: "О компании").first.value.html_safe %></p>
          </div>
          <div class="footer_top_item" id="contact_us">
            <h3 class="title_item_2 down"><a href="contact.html">Контакты</a></h3>
            <div class="text_item">
              <p class="online_contact">  <span class="phone"><%= @footer_content.where(name: "Номер телефона").first.value.html_safe %></span><span class="mail"><a class="color" href="#" title="Mail"><%= @footer_content.where(name: "email").first.value.html_safe %></a></span> </p>
            </div>
          </div>

          <div class="footer_top_item" id="contact_us">
            <h3 class="title_item_2 down"><a href="contact.html">График работы</a></h3>
            <div class="text_item">
              <%= @footer_content.where(name: "график работы").first.value.html_safe %>
            </div>
          </div>

          <div class="footer_top_item last_footer_item" id="facebook">
            <h3 class="title_item_4 down"><a href="http://vk.com/parmfum">Мы Вконтакте</a></h3>
            <div class="text_item">
              <p>Здесь будет группа вконтакте</p>
            </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_wrapper">
  </div>
  <div id="footer-text">
    <p class="copyrite">Разработал: <a href="http://vk.com/dima_antonenko">Дмитрий Антоненко</a></p>
  </div>
</div>