<div id="footer">
  <div id="footer_top">
    <div class="footer_wrapper">
      <div id="footer_top_content">
        <div id="footer_top_item">
          <div class="footer_top_item" id="about_us">
            <h3 class="title_item_1 down"><a href="about.html">О компании</a></h3>
            <p class="text_item content_item_1 about"><%= @footer_content.where(name: "О компании").first.value.html_safe %></p>
          </div>
          <div class="footer_top_item" id="contact_us">
            <h3 class="title_item_2 down"><a href="contact.html">Контакты</a></h3>
            <div class="text_item">
              <p class="online_contact">  <span class="phone"><%= @footer_content.where(name: "Номер телефона").first.value.html_safe %></span><span class="mail"><a class="color" href="#" title="Mail"><%= @footer_content.where(name: "email").first.value.html_safe %></a></span> </p>
            </div>
          </div>

          <div class="footer_top_item" id="contact_us">
            <h3 class="title_item_2 down"><a href="contact.html">График работы</a></h3>
            <div class="text_item">
              <%= @footer_content.where(name: "график работы").first.value.html_safe %>
              <!— Yandex.Metrika counter —>
<script type="text/javascript">
(function (d, w, c) {
(w[c] = w[c] || []).push(function() {
try {
w.yaCounter24930854 = new Ya.Metrika({id:24930854,
webvisor:true,
clickmap:true,
trackLinks:true,
accurateTrackBounce:true});
} catch(e) { }
});

var n = d.getElementsByTagName("script")[0],
s = d.createElement("script"),
f = function () { n.parentNode.insertBefore(s, n); };
s.type = "text/javascript";
s.async = true;
s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

if (w.opera == "[object Opera]") {
d.addEventListener("DOMContentLoaded", f, false);
} else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24930854" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!— /Yandex.Metrika counter —>
            </div>
          </div>

          <div class="footer_top_item last_footer_item" id="facebook">
            <h3 class="title_item_4 down"><a href="http://vk.com/public73695012">Мы Вконтакте</a></h3>
            <div class="text_item">
              <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

              <!-- VK Widget -->
              <div id="vk_groups"></div>
              <script type="text/javascript">
              VK.Widgets.Group("vk_groups", {mode: 1, width: "220", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 73695012);
              </script>
              

            </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_wrapper">
  </div>
  <div id="footer-text">
    <p class="copyrite">Разработал: <a href="http://vk.com/dima_antonenko">Дмитрий Антоненко</a></p>
  </div>
</div>