									<ul class="f_right horizontal_list d_sm_inline_b f_sm_none clearfix t_align_l site_settings">
										<!--like-->
										<!--
										<li>
											<a role="button" href="#" class="button_type_1 color_dark d_block bg_light_color_1 r_corners tr_delay_hover box_s_none"><i class="fa fa-heart-o f_size_ex_large"></i><span class="count circle t_align_c">12</span></a>
										</li>
										<li class="m_left_5">
											<a role="button" href="#" class="button_type_1 color_dark d_block bg_light_color_1 r_corners tr_delay_hover box_s_none"><i class="fa fa-files-o f_size_ex_large"></i><span class="count circle t_align_c">3</span></a>
										</li>
										-->
										<!--shopping cart-->
										
  										<li class="m_left_5">
  											<%

  												if @minicart
  											%>


  													<li class="m_left_5 relative container3d" id="shopping_button">
											<a role="button" href="<%= @cart_url %>" class="button_type_3 color_light bg_scheme_color d_block r_corners tr_delay_hover box_s_none">
												<span class="d_inline_middle shop_icon">
													<i class="fa fa-shopping-cart"></i>
												</span>
												</span>
												<b><%= @minicart.total_price %> р</b>
											</a>
										</li>
  												
											<% end %>
										</li>	

										 
									</ul>