<% if  @minicart %>
  <div id="cart">
          <div class="heading">
            <div class="cart_top_in">
              <a href = "<%= @cart_url %>" ><h4>Корзина</h4><span id="cart-total"><%= @minicart.total_price  %> р.</span></a></div>
          </div>
  </div>

<% end %>