 <div id="cart">
        <div class="heading">
          <div class="cart_top_in">
            <h4>Shopping Cart</h4>
            <a><span id="cart-total">2 item(s) - $369.00</span></a></div>
        </div>
        <div class="content">
          <div class="mini-cart-info">
            <table>
              <tbody>
                <tr>
                  <td class="image"><a href="product.html"><img src="image/ex/pro-1.png" alt="" title=""></a></td>
                  <td class="name"><a href="product.html">Scitote</a>
                    <div> </div></td>
                  <td class="quantity">x&nbsp;1</td>
                  <td class="total">$236.99</td>
                  <td class="remove"><img src="image/remove-small.png" alt="Remove" title="Remove"></td>
                </tr>
                <tr>
                  <td class="image"><a href="product.html"><img src="image/ex/pro-2.png" alt="" title=""></a></td>
                  <td class="name"><a href="product.html">Retrorsum</a>
                    <div> </div></td>
                  <td class="quantity">x&nbsp;1</td>
                  <td class="total">$60.75</td>
                  <td class="remove"><img src="image/remove-small.png" alt="Remove" title="Remove"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mini-cart-total">
            <table>
              <tbody>
                <tr>
                  <td class="right"><b>Sub-Total:</b></td>
                  <td class="right">$249.99</td>
                </tr>
                <tr>
                  <td class="right"><b>Eco Tax (-2.00):</b></td>
                  <td class="right">$4.00</td>
                </tr>
                <tr>
                  <td class="right"><b>VAT (17.5%):</b></td>
                  <td class="right">$43.75</td>
                </tr>
                <tr class="last_item">
                  <td class="right"><b>Total:</b></td>
                  <td class="right">$297.74</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="checkout"><a class="button mr" href="shoppingcart.html">View Cart</a><a class="button" href="checkout.html">Checkout</a></div>
        </div>
      </div>