			<header role="banner" class="type_5">
				<!--header top part-->
				<%= render '/layouts/header/top_part' %>
				<!--header bottom part-->
				<section class="h_bot_part">
				<div class="menu_wrap">
						<div class="container">
							<div class="clearfix row">
								<div class="col-lg-2 t_md_align_c m_md_bottom_15">
									<a href="/" class="logo d_md_inline_b">
										<img src="/images/logo.png" alt="">
									</a>
								</div>
								<div class="col-lg-10 clearfix t_sm_align_c">
									<div class="clearfix t_sm_align_l f_left f_sm_none relative s_form_wrap m_sm_bottom_15 p_xs_hr_0 m_xs_bottom_5">
										<!--button for responsive menu-->
										<button id="menu_button" class="r_corners centered_db d_none tr_all_hover d_xs_block m_xs_bottom_5">
											<span class="centered_db r_corners"></span>
											<span class="centered_db r_corners"></span>
											<span class="centered_db r_corners"></span>
										</button>
										<!--main menu-->
										<%= render '/layouts/header/menu' %>
										</button>
									</div>
										<%= render '/layouts/header/buttons_from_menu' %>				
								</div>
							</div>
						</div>
						<hr class="divider_type_6">
					</div>
				</section>
			</header>