<div id="menu">
    <ul>
      <li class="menu_item down"><a href="/product_categories/1">Каталог</a> </li>
      <li class="menu_item down"><a href="/product_categories/1/products/23">Товар</a> </li>
      <li class="menu_item down"><a href="/post_categories/1/">Блог</a> </li>
    </ul>
  </div>
  <div id="mobile-menu">
    <div id="mobile-menu-nav">
      <ul>
        <li><a href="category.html">Clothes For Girls</a> </li>
        <li><a href="category.html">Clothes For Boys</a> </li>
        <li><a href="category.html">Toys</a> </li>
        <li><a href="category.html">Safety</a> </li>
        <li><a href="category.html">Furniture</a> </li>
        <li><a href="category.html">Prams</a> </li>
        <li><a href="category.html">At Home</a> </li>
        <li><a href="category.html">Child Seats</a> </li>
      </ul>
    </div>
  </div>