<div id="menu">
    <ul>
      <% @main_menu.menu_items.each do |menu_item| %>
        <% if menu_item.menu_item_id == 1  %>
          <li class="menu_item down"><a href="<%= menu_item.link %>"><%= menu_item.title %></a> </li>
          <% if menu_item.menu_item_id != 1  %>
            <% if menu_item.menu_items.count > 0 %>
              <li><a href="category.html">Clothes For Girls</a> </li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div id="mobile-menu">
    <div id="mobile-menu-nav">
      <ul>
        <li><a href="category.html">Clothes For Girls</a> </li>
        <li><a href="category.html">Clothes For Boys</a> </li>
        <li><a href="category.html">Toys</a> </li>
        <li><a href="category.html">Safety</a> </li>
        <li><a href="category.html">Furniture</a> </li>
        <li><a href="category.html">Prams</a> </li>
        <li><a href="category.html">At Home</a> </li>
        <li><a href="category.html">Child Seats</a> </li>
      </ul>
    </div>
  </div>